<%if student_signed_in?%>
<h3>Your Assignments</h3>
<% for @a in @sassignments do%>
<p><%=@a.name%>  <%=@a.due_date%></p>
<%end%>
<h3>Your Upcoming Tests</h3>
<% for @t in @stests do%>
<p><%=@t.topic%> <%=@t.date%></p>
<%end%>
<div id="articles">
<%= calendar do |date|%>
<%= date.day%>
<% for @a in @sassignments do%>
    <% if @a.due_date == date%>
        <li><%=@a.name%></li>
    <%end%>
<%end%>
<% for @t in @stests do%>
    <% if @t.date == date%>
        <li><%=@t.topic%> Test</li>
    <%end%>
<%end%>
<%end%>
</div>
<%end%>





